.git
.gitignore
.env
.env.*
!.env.example
.idea
.vscode
*.swp
*.swo
.DS_Store
bootstrap/cache/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
vendor
app/Lifestream
node_modules
coverage
coverage-html
docker-compose.override.yml
*.md
tests
