/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.swp
*.swo
.DS_Store
**/.DS_Store
Thumbs.db
/bootstrap/cache/*.php
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/app/public/*
/storage/app/*.json
/storage/api-docs/
rr
*.rr.pid
openapi.yaml
billing-mock/request.json
docker-compose.override.yml
/coverage/
/coverage-html/
/.phpstan/
phpstan-result-cache.php
*.iml
./tmp
/tmp

